            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Login</h2>
                </div>
                <div ng-controller="LoginCtrl" class="panel-body">
                    <form name="loginForm" method="post" action="" class="form-horizontal" role="form" novalidate>
                        <div class="form-group" ng-class="{ 'has-error': loginForm.inputName.$invalid && submitted }">
                            <label for="inputName" class="col-lg-2 control-label">User</label>
                            <div class="col-lg-10">
							<input type="text" class="form-control" ng-model="username" placeholder="Username" required autofocus="" ng-minlength="5" ng-maxlength="30" />
							<p ng-show="loginForm.username.$error.required  && !loginForm.username.$pristine" class="help-block">User name is required.</p>
				      	    <p ng-show="loginForm.username.$error.minlength" class="help-block">Provide valid User name.</p>
				      	    <p ng-show="loginForm.username.$error.maxlength" class="help-block">Provide valid User name.</p>
                            </div>
                        </div>
                        
                        <div class="form-group" ng-class="{ 'has-error': loginForm.inputPassword.$invalid && submitted }">
                            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                            <div class="col-lg-10">
                                <input type="password" class="form-control" ng-model="password" required placeholder="Password" ng-minlength="6" ng-maxlength="16"/> 
									<p ng-show="loginForm.password.$error.required  && !loginForm.password.$pristine" class="help-block">Password is required.</p>
				      	            <p ng-show="loginForm.password.$error.minlength" class="help-block">Password should be 6 characters long</p>
				      	            <p ng-show="loginForm.password.$error.maxlength" class="help-block">Password can not be more than 16 characters</p> 
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="button" ng-click="authenticate();"  class="btn btn-default" ng-disabled="submitButtonDisabled">
                                 Login
                                </button>
								
								<button type="reset" class="btn btn-default" ng-disabled="submitButtonDisabled">
                                 Reset
                                </button>
                            </div>
                        </div>
                    </form>
                    <p ng-class="result" style="padding: 15px; margin: 0;">{{ resultMessage }}</p>
                </div>
            </div>
        </div>
